In [1]:
friends = ['양성부', '강주희', '이예진', '양소윤', '정승길']

# 맨 앞에 새로운 친구 추가
friends.insert(0, '이예진')

# 3번째 위치에 새로운 친구 추가
friends.insert(2, '이현진')

# 마지막에 친구 추가
friends.append('손병희')

print(friends)

['이예진', '양성부', '이현진', '강주희', '이예진', '양소윤', '정승길', '손병희']

In [2]:
list = [1, 2, 3]

# 두 번째 요소를 17로 수정
list[1] = 17

# 리스트에 4, 5, 6을 추가
list.extend([4, 5, 6])

# 첫 번째 요소 제거
del list[0]

# 리스트를 요소 순서대로 배열하기
list.sort()

# 인덱스 3에 25 넣기
list.insert(3, 25)

print(list)

[3, 4, 5, 25, 6, 17]

In [4]:
zerotofifty = []
for num in range(50):
    zerotofifty.append(num)
    
print(zerotofifty)

zerotofiftydouble = []
for num in range(1, 51):
    zerotofiftydouble.append(num ** 2)

print(zerotofiftydouble)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [5]:
L = [1, 2, 3]
M = [4, 5, 6]

new_list = []
for i in range(len(L)):
    sum_of_elements = L[i] + M[i]
    new_list.append(sum_of_elements)

print(new_list)

[5, 7, 9]

In [7]:
numbers = []
for i in range(5):
    num = input("숫자를 입력하세요: ")
    numbers.append(num)

result = "+".join(numbers)
print(result)

2+5+11+33+55

In [ ]:
days = {'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31,'November': 30, 'December': 31 }

# 사용자가 월을 입력하면 해당 월에 일수를 출력
user_month = input("월을 입력하세요: ")
if user_month in days:
    print(f"{user_month}은 {days[user_month]}일까지 있습니다.")
else:
    print("잘못된 월을 입력하였습니다.")

# 알파벳 순서로 모든 월 출력
months_in_alphabetical_order = sorted(days.keys())
print("알파벳 순서로 월 출력:")
for month in months_in_alphabetical_order:
    print(month)

# 일수가 31인 월 출력
months_with_31_days = [month for month, days in days.items() if days == 31]
print("일수가 31인 월 출력:")
for month in months_with_31_days:
    print(month)

# 월의 일수를 기준으로 오름차순으로 (key-value) 쌍 출력
sorted_days = sorted(days.items(), key=lambda x: x[1])
print("월의 일수를 기준으로 오름차순으로 (key-value) 쌍 출력:")
for month, days in sorted_days:
    print(f"{month}: {days}")

# 사용자가 월을 3자리만 입력하면 월의 일수 출력
user_month_abbrev = str(input("월을 3자리로 입력하세요: "))
for month, days in days.items():
    if month[:3] == user_month_abbrev.capitalize():
        print(f"{month}은 {days}일까지 있습니다.")
        break
else:
    print("잘못된 월을 입력하였습니다.")

In [15]:
d=[{'name':'Todd', 'phone':'555-1414', 'email':'todd@mail.net'}, {'name':'Helga', 'phone':'555-1618', 'email':'helga@mail.net'},{'name':'Princess', 'phone':'555-3141', 'email':''},{'name':'LJ', 'phone':'555-2718', 'email':'lj@mail.net'}]

# 전화번호가 8로 끝나는 사용자 이름 출력
print("전화번호가 8로 끝나는 사용자 이름:")
for user in d:
    if user['phone'].endswith('8'):
        print(user['name'])

# 이메일이 없는 사용자 이름 출력
print("이메일이 없는 사용자 이름:")
for user in d:
    if user['email'] == '':
        print(user['name'])

# 사용자 이름을 입력하면 전화번호, 이메일 출력
user_name = input("사용자 이름을 입력하세요: ")
found = False
for user in d:
    if user['name'] == user_name:
        print(f"전화번호: {user['phone']}")
        print(f"이메일: {user['email']}")
        found = True
        break
if not found:
    print("이름이 없습니다.")

전화번호가 8로 끝나는 사용자 이름:
Helga
LJ
이메일이 없는 사용자 이름:
Princess
전화번호: 555-1414
이메일: todd@mail.net

In [113]:
import random

# 로또 번호 생성
def generate_lotto_numbers():
    lotto_numbers = random.sample(range(1, 46), 6)
    return sorted(lotto_numbers)

# 로또 번호 출력
def print_lotto_numbers(numbers):
    print("로또 번호:")
    for i in range(0, len(numbers), 6):
        print(" ".join(str(num) for num in numbers[i:i+6]))

# 메인 프로그램
if __name__ == "__main__":
    lotto_numbers = []
    for _ in range(5):
        lotto_numbers.extend(generate_lotto_numbers())
    print_lotto_numbers(lotto_numbers)

로또 번호:
5 6 14 20 28 35
2 3 8 16 24 38
5 7 13 24 30 38
3 17 30 33 34 36
3 7 22 23 30 32

In [65]:
students = {
    "Alice": [85, 90, 95],
    "Bob": [75, 80, 85],
    "Charlie": [95, 95, 95]
}

print("Average grades:")
for student, grades in students.items():
    average_grade = sum(grades) / len(grades)
    print(f"{student}: {average_grade}")

Average grades:
Alice: 90.0
Bob: 80.0
Charlie: 95.0